:root {
    --text-size: 2vh;
    --title-size: calc(3vw + 2vh);

    --header-padding: 2rem;
    --section-bottom-padding: 3rem;

    --cosas-sapphires: #5DC8CD;
    --cosas-grey: #535353;
    --cosas-secondary: white;

    --text-color-dark: black;
    --text-color-light: white;

}

body, html {
    scroll-behavior: smooth;
    height: 100;
    overflow-x: hidden;
}

.load-hidden {
    visibility: hidden;
}

.row:before, .row:after {
    display: none !important;
}
/*_________________________Global____________________________*/

.section {
    padding-bottom: 3vh;
}

.section-header {
    padding: 2vh 0 2vh 0 
}

.scroll-section {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    flex-flow: nowrap;
}

p {
    font-size: var(--text-size);
}

/*_________________________NavSection________________________*/

#navbar {
    width: 100%;
    margin-bottom: 0px;
    position:fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
    background-color: var(--cosas-secondary);
}

.nav-item {
    padding: 0 2vw;
}

a, .nav-item:visited {
    color: black;
    text-decoration: none !important;
}

a:active, a:hover {
    color: var(--cosas-grey);
}

.nav-link:active, .nav-link:hover {
    background-color: var(--cosas-sapphires);
    opacity: 50;
}

/*_________________________HomeSection________________________*/

.home {
    height: 100vh;
    display: flex;
    align-items:center;
    background-color: var(--cosas-secondary);
    background-image: url(../static_files/assets/svg/2020.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 85%;
    background-size: calc(125vh);
    background-attachment: fixed;
}

.welcome-title {
    font-size: var(--text-size);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/*________________________News________________________*/

.news {
    background-color: var(--cosas-grey);
}

.dates, .news-updates {
    overflow: hidden !important;
}

/*_______________________About__________________________*/

.about-divider {
    height: 15vh;
    background-image: url(../static_files/assets/images/ubc.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/*_________________________Section for contact________________*/
#contact {
    background-color: var(--cosas-sapphires);
    padding-bottom: var(--section-bottom-padding);
    background-image: url(../static_files/assets/svg/contact-us-flipped.svg), url(../static_files/assets/svg/contact-us.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left, right;
}

#contactForm > button {
    background-color: var(--cosas-sapphires);
}


#footer {
    height: 15vh

}

.footer-icon {
    width: 3vh;
    margin: auto 0.5vw
}

/*__________________________BootStrap Override________________*/
.btn-primary {
    background-color: var(--cosas-sapphires) !important;
    border-color: var(--cosas-sapphires) !important;
}

.bg-primary {
    background-color: var(--cosas-sapphires) !important;
}

.bg-dark {
    background-color: var(--cosas-grey) !important;
}

html.sr .load-hidden {
    visibility: hidden;
}