<div id="about" class="">
    <div class="about-divider about-scene load-hidden"></div>
    <div class="container-fluid justify-content-center section about load-hidden">
        <p class="display-4 text-center section-header">Who We Are</p>
        <div class="container card bg-transparent border-0 text-left justify-content-center">
            {% for content_hash in site.data.about.cosas %}
            <p class="col-md-9 text-justify mx-auto">{{ content_hash.content }}</p>
            <button class="btn col-md-3 mx-auto py-3 btn-primary" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Learn
                More
            </button>
            {% endfor %}
        </div>
        <div class="collapse container" id="collapseExample">
            <div class="row justify-content-center text-left pt-4">
                {% for content in site.data.about.about %}
                <div class="card card-body col-md-5 m-2 overflow-auto">
                    <img class="img-card-top col-md-7 mx-auto" src='{{ content.img }}'>
                    <h4>{{ content.header }}</h4>
                    <!-- <p class="flex-wrap">{{ content.content }}</p> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="about-divider about-scene load-hidden"></div>
</div>