<div class="container-fluid justify-content-center" id="footer">
    <p class="text-center pt-4 pb-0">Co-op Student Association of Sauder</p>
    <div class="row" >
        <div class="row mx-auto justify-content-center">
            <a class="email" data-placement="left" role="button" data-toggle="popover"
                title="Email"
                data-content="cosas.sauder@gmail.com">
                <img class="footer-icon" src="{{ site.baseurl }}/static_files/assets/svg/gmail.svg">
            </a>
            <a href="https://www.facebook.com/cosas.ubc/">
                <img class="footer-icon" src="{{ site.baseurl }}/static_files/assets/svg/facebook.svg">
            </a>
            <a href="">
                <img class="footer-icon" src="{{ site.baseurl }}/static_files/assets/svg/instagram.svg">
            </a>
        </div>
    </div>
</div>

