<div id="initiatives" class="container section">
    <p class="display-4 text-center section-header">Featured Initiatives</p>
    <ul class="list-unstyled card card-body">
        <li class="media">
            <div class="row media-body">
                {% for initiative in site.initiatives %}
                <img src='{{ site.baseurl }}/static_files/assets/svg/{{ post.image }}'
                    class="col-sm-6 col-md-2 img-thumbnail border-0" alt="...">
                <div class="col-9 py-3">
                    <h2>{{ initiative.title }}</h2>
                    <p>{{ initiative.excerpt }}</p>
                    <a href="{{ initiative.url }}" class="mx-auto btn btn-primary">Learn More</a>
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>