<nav class="navbar navbar-expand-sm" id="navbar">
    <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{{ site.baseurl }}/static_files/assets/svg/home-icon.svg">
    </button>

    <div class="navbar-collapse collapse justify-content-center" id="navbarToggler">
        <ul class="navbar-nav">
            {% for nav in site.data.navigation.topnav %}
            <li class="load-hidden nav-link">
                <a class="nav-item" href="{{ nav.link }}">{{ nav.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>