<div class="news container card card-body">
    <div class="row">
        <div class="col-4 dates">
            <p class=" pt-2 text-center text-light">Important Dates</p>
            <div class="card card-body">
                <ul>
                    <li>Aug 24: Mentor Applications</li>
                    <li>Aug 24: Mentor Applications</li>
                    <li>Aug 24: Mentor Applications</li>
                </ul>
            </div>
        </div>
        <div class="col-8 news-events">
            <p class="pt-2 text-center text-light">COSAS News</p>
            <div class="card card-body">
                <ul>
                    <li>Aug 24: Mentor Applications</li>
                    <li>Aug 24: Mentor Applications</li>
                    <li>Aug 24: Mentor Applications</li>
                </ul>
            </div>
        </div>
    </div>
</div>